# For docker compose mysql
MYSQL_DATABASE=axum_mysql_db
MYSQL_USER=admin
MYSQL_PASSWORD=password123
MYSQL_ROOT_PASSWORD=password123

# Rust support placeholder
# For sqlx cli and rust sqlx
DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@127.0.0.1:3307/${MYSQL_DATABASE}
# mysql://admin:password123@127.0.0.1:3307/axum_mysql_db